.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.image {
  width: 100%;
  aspect-ratio: 3 / 4;
  border-radius: 12px;
  display: block;
  line-height: unset;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0 4px;
}
